@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import "nullstyle";
@import "variables";

.container{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;

}

.header{
  height: 80px;
  background-color: #101010;
  position: relative;
  z-index: 2;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo{
  font-size: 44px;
  color: aliceblue;
  span{
    color: $secondary;
  }
}

.header__nav-list{
  display: flex;

}

.nav-item__active{
  color: $secondary;
}

.header__nav-item{
  margin-left: 30px;
  transition: all $transitionTime ease;
  &:hover{
    color: $secondary;
  }
}

/* Movie Page */
.movie-page {
  padding: 30px 0;
  width: 100%;
  font-size: 45px;
  margin: 0;
  color: $white;
  overflow: hidden;
  hr{
    width: 100%;
    height: 3px;
    background-color: $secondary;
    margin: 55px 0;
    display: block;
  }
  &__description{
    text-align: center;
    margin-bottom: 25px;
  }
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.heading{
  padding: 20px 0;
  text-align: left;
  color: $white;
  font-size: 40px;
}

.header-input{
  padding: 20px 0;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  input{
    color: $white;
    padding: 10px 15px;
    width: 450px;
    background-color: transparent;
    border: 1px solid $secondary;
    border-radius: 999px;
  }
}

.count-pill {
  display: inline-block;
  text-align: center;
  background-color: $secondary;
  padding: 5px 15px;
  min-width: 170px;
  font-size: 1.080rem;
  font-weight: 600;
  border-radius: 30px;
  color: $primary;

}

.plug{
  opacity: .65;
  text-align: center;
  margin-top: 60px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}

.movie-card {
  overflow: hidden;
  position: relative;
  border: 3px solid transparent;
  display: block;
  transition: all $transitionTime ease;
  border-radius: 15px;
  max-height: 300px;
  max-width: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all $transitionTime ease;
    z-index: 1;
    transform: translateY(100%);

    p {
      font-size: 14px;
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  .rate-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: $primary;
    color: $white;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    font-size: 23px;
    opacity: 1;
    transition: all $transitionTime ease;
  }
  .good{
    border-color: #558c00;
  }
  .normal{
    border-color: yellow;
  }
  .bad{
    border-color: red
  }
  &:hover {
    border: 3px solid $secondary;
    .overlay {
      background-color: rgba(96, 4, 4, 0.5);
      transform: translateY(0);
    }
    .rate-circle{
      opacity: 0;
    }
  }
}

.movie-page__skeleton{
  width: 200px;
  height: 300px;
  background-color: #858585;
  border-radius: 15px;
}

.fullscreen{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 0;
  background-image: url("../Assets/220-2205714_get-the-latest-movies-data-src-kodi-tv.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-box-shadow: 4px 9px 15px -1px rgba(0,0,0,0.63);
  -moz-box-shadow: 4px 9px 15px -1px rgba(0,0,0,0.63);
  box-shadow: 4px 9px 15px -1px rgba(0,0,0,0.63);

  &__overflow{
    padding: 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title{
    margin-bottom: 20px;
    font-size: 65px;
  }

  &__subtitle{
    font-size: 30px;
  }

  &__button{
    font-size: 40px;
    background-color: $secondary;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 35px;
    border-radius: 20px;
    color: $primary
  }
}


//arrow

$ani-speed: 2s;
$ani-delay: 1s;

.arrow {
  opacity: 0;
  position: absolute;
  left: 49%;
  top: 95%;
}

.arrow-first {
  animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

// Arrow Animation
@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 90%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//main-page

.main-page{
  padding-top: 0;
  .container{
    padding-top: 80px;
  }
}

//details-page

.details-page__title{
  margin-bottom: 30px;
  text-align: center;
  font-size: 49px;
  font-weight: 700;
}

.details-page__row{
  display: flex;
  justify-content: center;
}

.details-page__poster{
  flex: 0 0 25%;
    img{
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.details-page__info{
  padding-left: 50px;
  font-size: 33px;
  flex: 0 1 70%;
  li{
    margin-bottom: 17px;
  }
}

.details-pill{
  display: inline-block;
  padding: 7px 12px;
  background-color: $secondary;
  border-radius: 20px;
  margin-right: 10px;
}

//slider

.main-page__slider{
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

.slider{
  max-height: 370px;
  max-width: 780px;
}

.info{
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 auto;
  a{
    color: $secondary;
    transition: all $transitionTime ease;
    &:hover{
      color: red;
    }
  }
  &__title{
    font-size: 32px;
  }
  &__description{
    max-width: 250px;
    margin: 0 auto;
    font-size: 25px;
  }
}

.slider-card, .skeleton-slider__item{
  width: 220px;
  margin: 0 18px;
}

.slider-card{
  font-size: 14px;
  text-align: center;
  display: block;
  img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: $transitionTime;
    &:hover{
      transform: scale(1.05);
    }
  }
}

.slider__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px
}

.slider__skeleton-slider{
  display: flex;
}

.skeleton-slider__item{
  height: 325px;
  border-radius: 20px;
}


.main-page__wide-slider{
  flex-direction: column;
}

.wide-slider{
  width: 70%;
  &__title{
    margin-bottom: 20px;
    text-align: center;
  }
}

.wide-skeleton{
  height: 490px;
}

.wide-slider-card{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  &__overflow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(8deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7749474789915967) 41%, rgba(0,0,0,0) 90%);
    opacity: 1;
    display: flex;
    align-items: flex-end;
    transition: all $transitionTime ease;
    &:hover{
      opacity: 0.5;
    }
  }
  &__title{
    margin: 15px;
    font-size: 0.625em;
  }
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.wide-slider-button{
  color: $secondary;
  cursor: pointer;
}

//burger

.burger-menu{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: $headerHeight;
  left: 0;
  background-color: $primary;
  transform: translateY(-110%);
  transition: $transitionTime;
  &.active{
    transform: translateY(0);
  }
  &__item{
    margin: 15px 0;
  }
}

.burger-icon{
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:after, &:before, & span{
    content: '';
    position: absolute;
    background-color: $white;
    width: 30px;
    height: 2px;
  }
  &:before{
    top: 0;
  }

  &:after{
    bottom: 0;
  }

  & span{
    top: 14px;
  }
}

.details-page__skeleton{
  width: 100%;
  height: 85%;
}

//.page-not-found{
//  text-align: center;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  h2{
//    font-size: 2.5rem;
//    margin-top: 50px;
//  }
//  img{
//    max-width: 300px;
//    max-height: 300px;
//  }
//}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .slider{
    max-width: 550px;
  }
  .slider-card, .skeleton-slider__item{
    width: 225px;
    margin: 0 20px;
  }
  .wide-skeleton{
    height: 380px;
  }
  .slider__skeleton-slider{
    div:last-child {
      display: none;
    }
  }
  .details-page__skeleton{
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 992px) {
  .details-page__row{
    flex-direction: column
  }
  .details-page__poster{
    text-align: center;
    img{
      width: auto;
      height: auto;
    }
  }
  .details-page__info{
    margin-top: 30px;
    font-size: 0.9rem;
  }
  .container {
    max-width: 850px;
  }
  .header__nav-item{
    font-size: 0.9rem;
  }
  .first-slick{
    flex-direction: column-reverse;
  }
  .second-slick{
    flex-direction: column;
  }
  .wide-skeleton{
    height: 310px;
  }
  .info>* {
    margin: 20px auto;
  }
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .header-input{
    font-size: 1.1rem;
    input{
      width: 300px;
    }
  }
  .wide-slider{
    width: 75%;
  }
  .details-page__skeleton{
    max-width: 300px;
    height: 450px;
    margin: 0 auto;
  }
}

@media (max-width: 760px) {
  .page-not-found{
    h2{
      font-size: 1.5rem;
    }
  }
  .details-page__title{
    font-size: 1.3rem;
  }
  .details-page__poster{
    text-align: center;
    img{
      width: 250px;
    }
  }
  .details-page__skeleton{
    max-width: 250px;
    height: 350px;
  }
  .details-page__info{
    font-size: 0.85rem;
    padding: 0;
  }
  .burger-icon{
    display: flex;
  }
  .header__nav-list{
    display: none;
  }
  .header__logo{
    font-size: 1.5rem;
  }
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .subheader {
    flex-direction: column;
  }

  .fullscreen{
    &__title{
      margin-bottom: 18px;
      font-size: 46px;
    }

    &__button{
      font-size: 30px;
      padding: 8px 12px;
      margin-top: 30px;
    }

    &__button{
      font-size: 30px;
      padding: 8px 12px;
      margin-top: 30px;
    }
  }
  //.fullscreen__title{
  //  margin-bottom: 18px;
  //  font-size: 46px;
  //}
  //
  //.fullscreen__subtitle{
  //  font-size: 22px;
  //}
  //
  //.fullscreen__button{
  //  font-size: 30px;
  //  padding: 8px 12px;
  //  margin-top: 30px;
  //}

  .wide-skeleton{
    height: 290px;
  }

  .wide-slider{
    width: 80%;
    &__title{
      font-size: 1.4rem;
    }
  }

  .wide-slider-card{
    &__title{
      margin: 13px;
      font-size: 0.425em;
    }
  }

  .slider{
    max-width: 480px;
  }

  .slider-card, .skeleton-slider__item{
    width: 200px;
    margin: 0 16px;
  }

  .skeleton-slider__item{
    height: 300px;
  }
}

@media (max-width: 630px) {

  .slider{
    max-width: 418px;
  }

  .slider-card, .skeleton-slider__item{
    width: 180px;
    margin: 0 12px;
  }

  .skeleton-slider__item{
    height: 270px;
  }

  .wide-skeleton{
    height: 235px;
  }
}
@media (max-width: 520px) {
  .page-not-found{
    h2{
      font-size: 1.1rem;
    }
  }
  .header-input{
    font-size: 1rem;
    input{
      width: 220px;
      padding: 8px 15px;
    }
  }

  .count-pill {
    padding: 3px 10px;
    min-width: 130px;
    font-size: 1rem;
  }

  .fullscreen__title{
    margin-bottom: 15px;
    font-size: 40px;
  }

  .fullscreen__subtitle{
    font-size: 18px;
    max-width: 280px;
  }

  .fullscreen__button{
    font-size: 20px;
    padding: 8px 12px;
    margin-top: 30px;
  }

  .arrow {
    left: 48%;
  }

  .wide-skeleton{
    height: 200px;
  }

  .wide-slider{
    width: 85%;
    &__title{
      font-size: 1.3rem;
    }
  }

  .wide-slider-card{
    &__title{
      margin: 13px;
      font-size: 0.375em;
    }
  }

  .slider__wrapper{
    gap: 5px
  }

  .slider{
    max-height: 300px;
    max-width: none;
    width: 250px;
    overflow: hidden;
  }

  .slider-card, .skeleton-slider__item{
    width: 200px;
    margin: 0 25px;
  }

  .skeleton-slider__item{
    height: 300px;
  }

  .slider__skeleton-slider {
    div:last-child {
      display: none;
    }
    div:first-child {
      display: none;
    }
  }

  .genre-pill{
    padding: 5px 8px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media (max-width: 410px) {

  .fullscreen{
    height: calc(100vh - 65px);
  }

  .header{
    height: 65px;
  }

  .burger-menu{
    top: 65px;
  }

  .header__logo{
    font-size: 1rem;
  }

  .movie-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading{
    font-size: 1.4rem;
  }

  .header-input{
    font-size: 1rem;
    flex-direction: column;
    input{
      width: 220px;
      padding: 8px 15px;
    }
  }

  .count-pill {
    padding: 3px 10px;
    min-width: 130px;
    font-size: 1rem;
  }

  .arrow {
    left: 47%;
  }

  .slider__wrapper{
    gap: 0;
  }

  .wide-skeleton{
    height: 150px;
  }

  .wide-slider-card{
    &__title{
      margin: 10px;
      font-size: 0.3em;
    }
  }

  .wide-slider{
    width: 92%;
    &__title{
      font-size: 0.85rem;
    }
  }

  .slider__wrapper{
    gap: 0
  }

  .slider{
    max-width: 180px;
  }

  .slider-card, .skeleton-slider__item{
    width: 170px;
    margin: 0 5px;
  }

  .skeleton-slider__item{
    height: 255px;
  }
}